* {
	padding: 0px;
	margin: 0px;
	border: none;
}
.container{
    width: 800px;
    margin: auto;
    padding: 10px;
}
.div-alert {
    position: fixed;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #beb6b6;
    padding: 20px;
    z-index: 9999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#add-item-btn{
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 20%;
}

